[Unit]
Description=Assistant CLI Daemon
After=network.target

[Service]
ExecStart=/usr/bin/python3 -m assistant.daemon start
ExecStop=/usr/bin/python3 -m assistant.daemon stop
Restart=always
User=verykul
WorkingDirectory=/home/verykul/Workspace/Projects/PA/assistant_cli/
Environment="API_URL=http://localhost:5000"

[Install]
WantedBy=multi-user.target