[Unit]
Description=Assistant CLI Daemon
After=network.target

[Service]
ExecStart=/home/verykul/micromamba/envs/todo_agent/bin/python -m assistant_cli.daemon start
ExecStop=/home/verykul/micromamba/envs/todo_agent/bin/python -m assistant_cli.daemon stop
Restart=always
User=verykul
WorkingDirectory=/home/verykul/Workspace/Projects/PA/assistant_cli
Environment="API_URL=http://localhost:5000"

[Install]
WantedBy=multi-user.target